<mat-card>
    <button mat-flat-button color="primary" class="float-right" [disabled]="validateSubmit()" (click)="submitAction()">
        <mat-icon>print</mat-icon> Submit & Get Bill
    </button>
</mat-card>

<mat-card>
    <b><span>Customer Details</span></b>
    <form [formGroup]="manageOrderForm">
        
        <div fxFlex fxLayout="column">

            <div fxLayout="row wrap">
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" requiered>
                    <mat-error *ngIf="manageOrderForm.controls.name.touched && manageOrderForm.controls.name.invalid">
                        <span *nfIf="manageOrderForm.controls.name.errors.requiered">This field is mandatory.</span>
                        <span *nfIf="manageOrderForm.controls.name.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
      
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" requiered>
                    <mat-error *ngIf="manageOrderForm.controls.email.touched && manageOrderForm.controls.email.invalid">
                        <span *nfIf="manageOrderForm.controls.email.errors.requiered">This field is mandatory.</span>
                        <span *nfIf="manageOrderForm.controls.email.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
  
                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Contact Number</mat-label>
                    <input matInput formControlName="contactNumber" requiered>
                    <mat-error *ngIf="manageOrderForm.controls.contactNumber.touched && manageOrderForm.controls.contactNumber.invalid">
                        <span *nfIf="manageOrderForm.controls.contactNumber.errors.requiered">This field is mandatory.</span>
                        <span *nfIf="manageOrderForm.controls.contactNumber.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard" fxFlex>
                    <mat-label>Payment Method</mat-label>
                    <mat-select formControlName="paymentMethod" requiered>
                        <mat-option value="Cash">Cash</mat-option>
                        <mat-option value="Debit Card">Debit Card</mat-option>
                        <mat-option value="Credit Card">Credit Card</mat-option>
                    </mat-select>
                    <mat-error *ngIf="manageOrderForm.controls.paymentMethod.touched && manageOrderForm.controls.paymentMethod.invalid">
                        <span *nfIf="manageOrderForm.controls.paymentMethod.errors.requiered">This field is mandatory.</span>
                        <span *nfIf="manageOrderForm.controls.paymentMethod.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>    
</mat-card>

<hr>

<mat-card>
    <b><span>Select Product: </span></b>
        <form [formGroup]="manageOrderForm">
            
            <div fxFlex fxLayout="column">

                <div fxLayout="row wrap">
                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category" (selectionChange)="getProductByCategory($event.value)" requiered>
                            <mat-option *ngFor="let item of categorys" [value]="item">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Product</mat-label>
                        <mat-select formControlName="product" (selectionChange)="getProductDetails($event.value)" requiered>
                            <mat-option *ngFor="let item of products" [value]="item">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                
                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Price</mat-label>
                        <input matInput formControlName="price" requiered>
                        <mat-error *ngIf="manageOrderForm.controls.price.touched && manageOrderForm.controls.price.invalid">
                            <span *nfIf="manageOrderForm.controls.price.errors.requiered">This field is mandatory.</span>
                            <span *nfIf="manageOrderForm.controls.price.errors.pattern">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Quantity</mat-label>
                        <input matInput formControlName="quantity" requiered (keyup)="setQuantity($event)" #input>
                        <mat-error *ngIf="manageOrderForm.controls.quantity.touched && manageOrderForm.controls.quantity.invalid">
                            <span *nfIf="manageOrderForm.controls.quantity.errors.requiered">This field is mandatory.</span>
                            <span *nfIf="manageOrderForm.controls.quantity.errors.pattern">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Total</mat-label>
                        <input matInput formControlName="total" requiered readonly>
                        <mat-error *ngIf="manageOrderForm.controls.total.touched && manageOrderForm.controls.total.invalid">
                            <span *nfIf="manageOrderForm.controls.total.errors.requiered">This field is mandatory.</span>
                            <span *nfIf="manageOrderForm.controls.total.errors.pattern">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            
            </div>
        </form>        

        <button mat-flat-button color="primary" [disble]="validateProductAdd()" (click)="add()">Add</button>
        <button mat-flat-button color="primary" class="float-right" [disble]="validateProductAdd()" (click)="add()">
            <mat-icon>monetization_on</mat-icon> Total Amount: {{totalAmount}}
        </button>
</mat-card>